@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --verde: #9EC864;
  --amarillo: #FBBB4C;
  --rojo: #EB5D60;
  --azul: #4DAAE4;
}
@font-face {
  /* Roc Grotesk | Bold */
  font-family: 'rocgrotesk';
  src: url('../public/fonts/font-rocgrotesk-bold.otf');
}

@font-face {
  /* Kumbh Sans |  ExtraLight 200 */
  font-family: 'kumbh';
  src: url('../public/fonts/font-kumbhsans.ttf');
}
.font-r {
  font-family: 'rocgrotesk';
}
.font-k {
  font-family: 'kumbh';
}

.bg-verde {
  background-color: var(--verde);
}

.bg-amarillo {
  background-color: var(--amarillo);
}

.bg-rojo {
  background-color: var(--rojo);
}

.bg-azul {
  background-color: var(--azul);
}

.txt-verde {
  color: var(--verde);
}

.txt-amarillo {
  color: var(--amarillo);
}

.txt-rojo {
  color: var(--rojo);
}

.txt-azul {
  color: var(--azul);
}

.bg-gradient-radial {
  filter: blur(10px)
}


html {
  scroll-behavior: smooth;
  background-color: black;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: white black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
}