@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  background-color: black;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: white black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}